<div class="main-view">
  <div class="card border-0">
    <div class="card-body">
      <div class="carousel-container">
        <div class="carousel">
          <div class="carousel-item">
            <img [src]="activeImage" alt="Active Image" class="">
          </div>
          <div class="carousel-indicators" *ngIf="images.length > maxVisibleImages">
            <div *ngFor="let image of visibleImages; let i = index" (click)="setActiveImage(image, currentIndex + i)" [class.active]="activeImage === image">
              <img [src]="image" alt="Thumbnail" class="">
            </div>
          </div>
          <div class="nav-container" *ngIf="images.length > maxVisibleImages">
            <span nz-icon nzType="left" nzTheme="outline" class="nav-left navs" (click)="prevSlide()" [class.disabled]="disablePrevNav"></span>
            <span nz-icon nzType="right" nzTheme="outline" class="nav-right navs" (click)="nextSlide()" [class.disabled]="disableNextNav"></span>
          </div>
          <div class="dots-container" *ngIf="images.length > maxVisibleImages">
            <span *ngFor="let groupIndex of getDotGroups()" (click)="setActiveImageInGroup(groupIndex)" [class.active]="groupIndex * maxVisibleImages === currentIndex" class="dot"></span>
          </div>
        </div>
      </div>
      <div class="info-container">
        <h6 class="fw-bold">Información de la detección</h6>
        <div class="d-flex justify-content-between mb-2">
          <span class="fw-bold">C29 - Vehículos pesados<span class="text-danger fw-normal ms-2">95 km/h</span></span>
          <span class="fw-bold">Velocidad máxima<span class="fw-normal ms-2">80 km/h</span></span>
        </div>
        <span class="fw-bold me-2 mb-3">Fecha y hora detección:</span><span>Lunes 01/02/2023 - 17:18:06</span>
        <ul class="list-unstyled mt-2">
          <li>
            <span class="fw-bold me-2">Nombre de la cámara:</span><span>Chuscalito</span>
          </li>
          <li>
            <span class="fw-bold me-2">Ubicación de la cámara:</span><span>Calle 33 por Carrera 76</span>
          </li>
          <li>
            <span class="fw-bold me-2">Carril:</span><span>2/3</span>
          </li>
        </ul>
        <h6 class="fw-bold">Caracteristicas del vehículo</h6>
        <div class="caracteristicas-content">
          <ul class="list-unstyled">
            <li>
              <span class="fw-bold me-2">Marca:</span>
              <span>Mazda</span>
            </li>
            <li>
              <span class="fw-bold me-2">Línea:</span>
              <span>2 sport</span>
            </li>
            <li>
              <span class="fw-bold me-2">Modelo:</span>
              <span>2018</span>
            </li>
          </ul>
          <ul class="list-unstyled">
            <li>
              <span class="fw-bold me-2">Color:</span>
              <span>Blanco</span>
            </li>
            <li>
              <span class="fw-bold me-2">Servicio:</span>
              <span>Particular</span>
            </li>
            <li>
              <span class="fw-bold me-2">Clase:</span>
              <span>Automóvil</span>
            </li>
          </ul>
        </div>
        <h6 class="fw-bold">Validación</h6>
        <div class="validacion-info mb-3 d-none" *ngIf="mostrarItem">
          <div class="card border-0 p-0 bg-color-gray shadow-none">
            <div class="card-body px-3 py-2">
              <i class="icon icon-info-circle text-info me-1 mt-1"></i>
              <p class="mb-0"><span class="fw-bold me-1">Devolución por placa errada:</span>esta tarjeta se mostrará cuando el agente realice observaciones sobre la devolución.</p>
            </div>
          </div>
        </div>
        <div class="validacion-content mb-3">
          <div class="aprobar-content">
            <div class="form-group mb-3">
              <label>Validar placa</label>
              <input nz-input nzSize="large" [(ngModel)]="valorInput"/>
            </div>
            <div class="form-group">
              <label>Aprobar</label>
              <div class="d-flex justify-content-between">
                <nz-radio-group [(ngModel)]="radioValue" nzName="radiogroup" class="d-flex" (ngModelChange)="onRadioChange()">
                  <label nz-radio nzValue="si" class="fw-normal">Sí</label>
                  <label nz-radio nzValue="no" class="fw-normal">No</label>
                </nz-radio-group>
                <button nz-button nzType="primary" id="submit" disabled *ngIf="mostrarBotonAceptar">Aceptar</button>
              </div>
            </div>
          </div>
          <div class="placa-content">
            <img src="../../assets/images/placa.png" alt="Placa" class="img-fluid">
          </div>
        </div>
        <div class="observaciones-content mb-3" *ngIf="mostrarItem">
          <div class="d-flex w-100" *ngIf="mostrarObservacionesSi">
            <div class="form-group w-35 me-3">
              <label class="fw-bold">Motivo anulación</label>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccionar o buscar" [(ngModel)]="selectedValue" class="w-100">
                <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
              </nz-select>
            </div>
            <div class="form-group w-70">
              <label class="fw-bold">Observaciones</label>
              <textarea nz-input placeholder="Observaciones" nzAutosize></textarea>
            </div>
          </div>
          <div class="form-group" *ngIf="mostrarObservacionesNo">
            <label class="fw-bold">Observaciones para el agente</label>
            <textarea nz-input placeholder="Observaciones" nzAutosize></textarea>
          </div>
        </div>
        <div class="d-flex w-100 justify-content-end">
          <button nz-button nzType="primary" id="submit2" *ngIf="!mostrarBotonAceptar">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>


