<div class="dashboard-container">
  <microfrontend-dei-header></microfrontend-dei-header>

  <div class="content">
    <div class="div-sidebar"><microfrontend-dei-sidebar></microfrontend-dei-sidebar></div>
    <div>
      <main class="dashboard-main">
        <!-- Contenido principal del dashboard -->
        <microfrontend-dei-subheader class="subheader-content"></microfrontend-dei-subheader>
       <router-outlet></router-outlet>
     </main>
   </div>
 </div>

 <microfrontend-dei-footer></microfrontend-dei-footer>
</div>
<microfrontend-dei-header></microfrontend-dei-header>
